<div class="background-image">
    <div class="home-container">
        <h1 class="myTitle">My Blog!!</h1>
        <%= link_to 'View Recent Posts', :posts, :class => "btn viewPosts" %> 
        <h3 id="currentTemp"></h3>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $(".myTitle").on('click', changeTitleColor)
        $(".myTitle").on('mouseenter', changeCursor)
        
        function changeTitleColor() {
          var myTitle = $(".myTitle");
          //var randColor = getRandomColor();
          myTitle.css({"color": getRandomColor()})
        }
        
        function changeCursor() {
            var myTitle = $(".myTitle");

            myTitle.css({"cursor": 'pointer'})
        }
        
        function getRandomColor(){
          return "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
        }
        
        function updateTemperatureOnHomepage(temp){
            // var inCelsius = convertToCelsius(temp)
            console.log('running')
            var temperature = "The Current Temperature in SF is: " + temp + ' F';
            $("#currentTemp").html(temperature)
        }
      
        navigator.geolocation.getCurrentPosition((location) => {
          const lat = location.coords.latitude || "30.1";
          const long = location.coords.longitude || "-100.1";
          console.log("ok the users location is ", location)

          getTemperature(lat, long)
        })
        
        function getTemperature(latitude, longitude) {
      
          $.ajax({
            url: 'api/v1/weather',
            type: 'GET',
            data: { lat: latitude, lng: longitude } ,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
              var currentTemp = response.currently.apparentTemperature;
              updateTemperatureOnHomepage(currentTemp)
              console.log('ok got temperature back, and lat is: ' + latitude + ' and long is: ' + longitude)
            },
            error: function (error) {
              console.log(error);
            }
          });
        }

    </script> 
</div>